# Dependencies
node_modules/
.pnpm-debug.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database / State
*.db
*.db-journal
user/playlists.json
user/taste.md

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Build
dist/
build/

*.gz